In [29]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv("C:/Users/ajkan/Desktop/spam.csv",encoding='latin-1')
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [31]:
df=df[['v1','v2']]
df.columns=['labels','text']

In [32]:
df

     labels                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [33]:
df['labels']=df['labels'].replace({'ham':0,'spam':1})

In [34]:
df.isnull().sum()

labels    0
text      0
dtype: int64

In [19]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...

True

In [35]:
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Initialize stopwords and lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    # 1. Lowercasing
    text = text.lower()
    
    # 2. Removing Punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # 3. Removing Numbers
    text = re.sub(r'\d+', '', text)
    
    # 4. Removing Stopwords
    text = ' '.join([word for word in text.split() if word not in stop_words])
    
    # 5. Lemmatization
    text = ' '.join([lemmatizer.lemmatize(word) for word in text.split()])
    
    return text

# Example Usage
sample_text = "FREE entry in 2 a weekly COMPETITION! Win a brand new car. Call now!!!"
cleaned_text = clean_text(sample_text)
print(cleaned_text)

free entry weekly competition win brand new car call

In [36]:
df['text'] = df['text'].apply(clean_text)

In [37]:
df

      labels                                               text
0          0  go jurong point crazy available bugis n great ...
1          0                            ok lar joking wif u oni
2          1  free entry wkly comp win fa cup final tkts st ...
3          0                u dun say early hor u c already say
4          0           nah dont think go usf life around though
...      ...                                                ...
5567       1  nd time tried contact u u å£ pound prize claim...
5568       0                        ì b going esplanade fr home
5569       0                         pity mood soany suggestion
5570       0  guy bitching acted like id interested buying s...
5571       0                                     rofl true name

[5572 rows x 2 columns]

In [38]:
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

# Initialize stopwords and lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def clean_text(text):
    # 1. Lowercasing
    text = text.lower()
    
    # 2. Removing Punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # 3. Removing Numbers
    text = re.sub(r'\d+', '', text)
    
    # 4. Removing Stopwords
    text = ' '.join([word for word in text.split() if word not in stop_words])
    
    # 5. Lemmatization
    text = ' '.join([lemmatizer.lemmatize(word) for word in text.split()])
    
    return text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ajkan\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [39]:
df['text'] = df['text'].map(clean_text)

In [40]:
df

      labels                                               text
0          0  go jurong point crazy available bugis n great ...
1          0                            ok lar joking wif u oni
2          1  free entry wkly comp win fa cup final tkts st ...
3          0                u dun say early hor u c already say
4          0           nah dont think go usf life around though
...      ...                                                ...
5567       1  nd time tried contact u u å£ pound prize claim...
5568       0                        ì b going esplanade fr home
5569       0                         pity mood soany suggestion
5570       0  guy bitching acted like id interested buying s...
5571       0                                     rofl true name

[5572 rows x 2 columns]

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

# Create BOW model
vectorizer_bow = CountVectorizer()
X_bow = vectorizer_bow.fit_transform(df['text'])

print("BOW Shape:", X_bow.shape)

BOW Shape: (5572, 7903)

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create TF-IDF model
vectorizer_tfidf = TfidfVectorizer()
X_tfidf = vectorizer_tfidf.fit_transform(df['text'])

print("TF-IDF Shape:", X_tfidf.shape)

TF-IDF Shape: (5572, 7903)

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

In [45]:
X_train_bow, X_test_bow, y_train, y_test = train_test_split(X_bow, df['labels'], test_size=0.2, random_state=42)
X_train_tfidf, X_test_tfidf, _, _ = train_test_split(X_tfidf, df['labels'], test_size=0.2, random_state=42)

In [46]:
# Initialize models
nb = MultinomialNB()
rf = RandomForestClassifier(n_estimators=100, random_state=42)
xgb = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)

# Train models on BOW
nb.fit(X_train_bow, y_train)
rf.fit(X_train_bow, y_train)
xgb.fit(X_train_bow, y_train)

# Predict on test data
y_pred_nb = nb.predict(X_test_bow)
y_pred_rf = rf.predict(X_test_bow)
y_pred_xgb = xgb.predict(X_test_bow)

# Print accuracy
print("Naive Bayes Accuracy:", accuracy_score(y_test, y_pred_nb))
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb))

C:\Users\ajkan\anaconda3\Anaconda1\Lib\site-packages\xgboost\core.py:158: UserWarning: [11:32:59] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Naive Bayes Accuracy: 0.9695067264573991
Random Forest Accuracy: 0.9739910313901345
XGBoost Accuracy: 0.9730941704035875

In [47]:
from sklearn.ensemble import VotingClassifier

# Combine models
ensemble = VotingClassifier(estimators=[
    ('nb', nb), 
    ('rf', rf), 
    ('xgb', xgb)
], voting='hard')

# Train ensemble
ensemble.fit(X_train_bow, y_train)

# Predict with ensemble
y_pred_ensemble = ensemble.predict(X_test_bow)

# Print accuracy
print("Ensemble Model Accuracy:", accuracy_score(y_test, y_pred_ensemble))
print(classification_report(y_test, y_pred_ensemble))

C:\Users\ajkan\anaconda3\Anaconda1\Lib\site-packages\xgboost\core.py:158: UserWarning: [11:33:31] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Ensemble Model Accuracy: 0.97847533632287
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       965
           1       0.98      0.85      0.91       150

    accuracy                           0.98      1115
   macro avg       0.98      0.93      0.95      1115
weighted avg       0.98      0.98      0.98      1115